.item {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.online {
    display: block;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
}

.offline {
    display: block;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.avatar {
    border-radius: 50%;
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: blueviolet;
}